{% load i18n %}

<div role="tabpanel" class="tab-pane" id="clones">
    <h3>{% translate 'Jump Clones' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_jump_clones">
            <thead>
                <tr>
                    <th>{% translate 'Region' %}</th>
                    <th>{% translate 'System' %}</th>
                    <th>{% translate 'Location' %}</th>
                    <th>{% translate 'Implants' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/update_status.html' with update_section=sections_update_status.jump_clones %}
</div>
