{% load i18n %}

<div role="tabpanel" class="tab-pane" id="roles">
    <h3>{% translate 'Roles' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_roles">
            <thead>
                <tr>
                    <th>{% translate 'Group' %}</th>
                    <th>{% translate 'Role' %}</th>
                    <th>{% translate 'Granted?' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/update_status.html' with update_section=sections_update_status.roles %}
</div>
