{% load i18n %}

<div role="tabpanel" class="tab-pane" id="wallet_journal">
    <h3>{% translate 'Transactions' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_wallet_journal">
            <thead>
                <tr>
                    <th>{% translate 'Date' %}</th>
                    <th>{% translate 'Type' %}</th>
                    <th>{% translate 'First party' %}</th>
                    <th>{% translate 'Second party' %}</th>
                    <th>{% translate 'Amount' %}</th>
                    <th>{% translate 'Balance' %}</th>
                    <th>{% translate 'Description' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/update_status.html' with update_section=sections_update_status.wallet_journal %}
</div>
